<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dooioo.smsCloud.mapper.PhoneStatusMapper" >

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
    <![CDATA[
    
        [phone]
      ,[chkPhone]
      ,[type]
      ,[status]
      ,[sOrigin]
      ,[sTime]
      ,[custType]
      ,[custOrigin]
      ,[custTime]
      ,[smBlack]
      ,[smTime]
      ,[foWarn]
      ,[warnOrigin]
      ,[warnTime]
      ,[belong]
      ,[net]
      ,[crtTime]
      ,[updTime]
        
    ]]>
    </sql>

	<select id="getById" parameterType="int" resultType="phoneStatus">
		select 
		<include refid="Base_Column_List"/>
		from t_phoneStatus 
		where id=#{id}
	</select>
	
	<select id="queryPaginator" resultType="phoneStatus">
		select 
		<include refid="Base_Column_List"/>
		from t_phoneStatus
		<where>
			status=#{status}
		</where>
	</select>
	
	<select id="getPage" resultType="phoneStatus">
		select 
		<include refid="Base_Column_List"/>
		from t_phoneStatus
		<where>
			status=#{po.status}
		</where>
	</select>
	<select id="getMapPage" resultType="map">
		select 
		<include refid="Base_Column_List"/>
		from t_phoneStatus
		<where>
			status=#{po.status}
		</where>
		order by phone
	</select>
</mapper>